APP_ENV=production
APP_DEBUG=false
APP_LOG=daily
APP_KEY=

DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

QINIU_DOMAIN=
QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKEY=

DUOSHUO_SHORT_NAME=
DUOSHUO_SECRET=
DUOSHUO_USER_NAME=
DUOSHUO_USER_EMAIL=
DUOSHUO_USER_URL=

MAIL_DRIVER=
MAIL_HOST=
MAIL_PORT=
MAIL_ENCRYPTION=
MAIL_USERNAME=
MAIL_PASSWORD=

GOOGLE_PLACES_API_KEY=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync
