.amaran-wrapper a {
    display: inline-block;
    margin: 0 .45em 0 .45em;
    line-height: 1.3em;
    border-bottom: dotted 1px white;
    color: white;
}
.amaran.default {
    border-radius: 4px;
}

/* responsive */
@media(max-width: 768px) {
    .amaran-wrapper {
        width: 100%;
    }
    .amaran-wrapper-inner {
        width: 97.5%;
    }
    .amaran.default {
        width: 100%;
        background: rgba(0, 0, 0, .8)
    }
}
