@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: local('Open Sans Light'), local('OpenSans-Light'), url("../font/OpenSans.woff") format('woff');
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-break: break-word;
    outline: 0;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    color: #333;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    background-position: center;
    background-size: 100% 100%;
}
a {
    text-decoration: none;
    color: #222;
}
a:hover,a:active {
    text-decoration: none;
    opacity: .8;
}
blockquote {
    margin: 1em 1.3em;
    padding-left: 0.8em;
    border-left: 4px solid #eee;
}
hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-top: 1px solid #eee;
}
p,pre {
    margin: 1em 0;
}
pre {
    padding: 2px;
    overflow: auto;
    color: #fff;
    background: #23241f;
    border-radius: 5px;
}
.button {
    display: inline-block;
    padding: 0.5em 0.5em;
    border: 0 rgba(0,0,0,0);
    color: #fff;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    opacity: 0.8;
}
.submit {
    margin: 0;
    padding: 0.3em 1em;
    background: none repeat scroll 0 0 #F9F9F9;
    color: #59493F;
    border: 1px solid #eee;
    border-radius: 3px;
}
.submit:hover {
    opacity: 0.8;
}
input,textarea {
    padding: 0.3;
    border: 0;
    border-bottom: 1px solid #eee;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea {
    resize: vertical;
}
.tipsy .tipsy-inner a {
    text-decoration: underline;
}
header {
    zoom: 1;
    display: inline-block;
    width: 38.2%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-image: url("/static/img/cover/default.png");
    background-repeat: no-repeat;
    background-position: center center;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    text-align: center;
}
header .avatar {
    display: inline-block;
    max-width: 100px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.7);
    vertical-align: middle;
}
header h2 {
    margin-top: 0.9em;
    text-align: center;
}
header .description {
    margin-top: 2em;
    color: rgba(238,238,238,0.80);
    font-family: "Segoe UI Light","Open Sans",sans-serif;
    font-weight: normal;
    font-size: 1.22em;
}
header nav a {
    display: inline-block;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    border-radius: 100%;
    text-align: center;
}
header nav i {
    display: inline-block;
    margin: 0.15em;
    padding: 0.5em;
    border: 1px solid;
    border-color: rgba(255,255,255,0.35) rgba(255,255,255,0.45) rgba(255,255,255,0.55);
    border-radius: 50%;
    color: rgba(255,255,255,0.8);
    font-size: 1.22em;
}
header nav a:hover {
    background-color: rgba(255,255,255,0.15);
}
.sidebar {
    margin: 8em auto;
}
.content {
    padding: 1.5em 4em 0;
    margin-left: 38.2%;
    width: 61.8%;
}
#footer {
    position: relative;
    margin-top: 4em;
    margin-bottom: 3em;
    line-height: 1.3;
    font-size: 0.8em;
    text-align: center;
}
#gotop {
    display: none;
    position: fixed;
    bottom: .75rem;
    right: .75rem;
    width: 2.5em;
    height: 2.5em;
    border: none;
    z-index: 100;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}
#gotop img {
    width: 2.5em;
    height: 2.5em;
}
#gotophover {
    display: block;
    overflow: hidden;
    float: left;
}

/* layout */
.avatar{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.49s;
    -moz-transition: all 0.49s;
    -ms-transition: all 0.49s;
    -o-transition: all 0.49s;
    transition: all 0.49s;
}
.avatar:hover{
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg); 
}
.fa-home:before {
    content: "\f015";
}
.fa-about:before {
    content: "\f05a";
}

/* archive */
.archive {
    position: relative;
    font-size: 0.9em;
    color: rgba(0,0,0,.6);
}
.archive:before {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 100px;
    width: 3px;
    content: "";
    background-color: rgba(0,0,0,.05);
}
.archive ul li em {
    font-size: 0.9em;
}
.archive ul li em a {
    color: rgba(0,0,0,.5);
}
.archive ul li em a:before {
    content: "ï¼Œ";
}
.archive ul li em a:first-child:before {
    content: "";
}
.archive .year {
    position: relative;
    display: inline-block;
    margin: 1em 0;
    width: 120px;
    margin:  30px 0 10px 40px;
    padding: 1px 0;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 3px;
    background-color: #fafafa;
    color: rgba(0,0,0,.44);
    text-align: center;
    font-size: 1.17em;
    font-weight: bold;
}
.archive .month {
    position: relative;
    display: block;
    margin: 1em 0;
    font-size: 1.17em;
}
.archive .month:after, .archive .month:before {
    position: absolute;
    left: 92px;
    top: 3px;
    height: 19px;
    width: 19px;
    border-radius: 100%;
    background-color: #fff;
    content: "";
}
.archive .month:after {
    background-color: #eee;
    height: 15px;
    width: 15px;
    left: 94px;
    top: 5px
}
.archive .month:hover:after {
    background-color: #4a89dc
}
.archive ul {
    margin-left: 100px;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
}
.archive ul li {
    position: relative;
    padding-left: 1.2em;
    line-height: 1.8em;
}
.archive ul li:after, .archive ul li:before {
    position: absolute;
    left: -5px;
    top: 7px;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    background-color: #fff;
    content: "";
}
.archive ul li:after {
    background-color: #eee;
    height: 9px;
    width: 9px;
    left: -3px;
    top: 9px;
}
.archive ul li:hover {
    margin-left: 5px;
}
.archive ul li:hover:after {
    background-color: #4a89dc
}
.archive ul li a span {
    padding-right: 0.8em;
}

/* post */
.post-title {
    margin-bottom: 0.2em;
    font-size: 2.5em;
    font-weight: normal;
}
.post-meta {
    margin-top: 1em;
    padding: 0;
    font-size: 0.9em;
    color: #888;
}
.post-meta li {
    display: inline-block;
    margin: 0 8px 0 0;
    padding-left: 12px;
    border-left: 1px solid #EEE;
}
.post-meta li:first-child {
    margin-left: 0;
    padding-left: 0;
    border: none;
}
.post-meta li a {
    font-size: 0.9em;
    color: #888;
}
.post-content {
    margin-top: 2.7em;
    line-height: 1.8em;
    font-size:  1em;
    color: #333;
}
.post-content p {
    margin-bottom:  3px;
}
.post-content img {
    max-width: 100%;
    border-radius: 3px;
}
.post-content video {
    display: none;
}
.post-contributers {
    display: none;
}
.post-near {
    margin-top: 8em;
    padding: 0;
    line-height: 1.8em;
    list-style: none;
    font-size:  0.9em;
    color: #999;
}

/* about */
.post-about {
    margin-top: 3em;
    line-height: 1.8em;
    color: #333;
}
.post-about p {
    margin-bottom: 0.5em;
}
.post-about .qrcode img{
    height: 22em;
}
.post-about .link {
    padding-left: 1.3em;
    font-size: 0.6em;
}
.post-about-contribute {
    display: block;
    margin: 1em 0;
    padding-left: 0.8em;
    border-left: 4px solid #eee;
}

/* responsive */
@media(max-width: 768px) {
    body {
        font-size: 65%;
    }
    header {
        position: relative;
        top: 0;
        width: 100%;
    }
    header .description {
        font-size: 1.30em;
    }
    header .avatar {
        margin-top: 2em;
        max-width: 8em;
    }
    header h1 {
        margin-top: 1em;
        padding-bottom: 1em;
    }
    .archive .month {
        line-height: 2.3em;
        padding-left: 2em;
    }
    .archive ul li {
        line-height: 2.2em;
    }
    .archive ul li:after, .archive ul li:before {
        left: -3px;
        top: 6px;
        height: 10px;
        width: 10px;
    }
    .archive ul li:after {
        height: 8px;
        width: 8px;
        left: -2px;
        top: 7px;
    }
    .archive ul li:hover {
        margin-left: 3px;
    }
    .sidebar {
        margin: 4em auto;
    }
    .post-title {
        text-align: center;
    }
    .content {
        margin: 0 auto;
        padding: 0.8em 1.5em 0;
        width: 100%;
    }
    .post-content {
        margin-top: 1.4em;
        line-height: 1.5em;
    }
    .post-contributers {
        display: block;
        margin-top: 2em;
        font-size: 0.9em;
        color: #999;
    }
    .post-contributers a {
        text-decoration: underline;
        color: #999;
    }
}
