@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: local('Open Sans Light'), local('OpenSans-Light'), url("/static/font/OpenSans.woff") format('woff');
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    color: #333;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.15);*/
    background-position: center;
    background-size: 100% 100%;
}
a {
    text-decoration: none;
    color: #222;
}
a:hover, a:active {
    text-decoration: underline;
    opacity: .8;
}
blockquote {
    margin: 1em 1.3em;
    padding-left: 0.8em;
    border-left: 4px solid #eee;
}
hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-top: 1px solid #eee;
}
p,pre {
    margin: 1em 0;
}
pre {
    padding: 2px;
    overflow: auto;
    color: #fff;
    background: #23241f;
    border-radius: 5px;
}
input,textarea {
    padding: 0.3;
    border: 0;
    border-bottom: 1px solid #eee;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea {
    resize: vertical;
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
img.emoji {
	width: 1em;
	height: 1em;
}
.tipsy .tipsy-inner a {
    text-decoration: underline;
}
.hide {
    display: none;
}

header {
    zoom: 1;
    display: inline-block;
    width: 38.2%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-image: url("/static/img/cover/default.png");
    background-repeat: no-repeat;
    background-position: center center;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    text-align: center;
}
header .sidebar {
    margin: 8em auto;
}
header .avatar {
    display: inline-block;
    max-width: 110px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.7);
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
header h2 {
    margin-top: 0.9em;
    text-align: center;
}
header .description {
    margin: 2em 0;
    color: rgba(238,238,238,0.80);
    font-family: "Segoe UI Light","Open Sans",sans-serif;
    font-weight: normal;
    font-size: 1.22em;
}
header .search {
    font-size: 0.8em;
    position: relative;
    display: inline-block
}
header .search i, .search input {
    color: rgba(238,238,238,0.80);
}
header .search i {
    position: absolute;
    top: 0.35em;
    left: 0.65em;
}
header .search input {
    -webkit-transition: border 0.25s;
    transition: border 0.25s;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.55);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 2em;
    padding: 0 2em;
    height: 2em;
    background: rgba(255, 255, 255, 0.1);
}
header nav a {
    display: inline-block;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    border-radius: 100%;
    text-align: center;
}
header nav i {
    display: inline-block;
    margin: 0.15em;
    padding: 0.5em;
    border: 1px solid;
    border-color: rgba(255,255,255,0.35) rgba(255,255,255,0.45) rgba(255,255,255,0.55);
    border-radius: 50%;
    color: rgba(255,255,255,0.8);
    font-size: 1.22em;
}
header nav a:hover {
    background-color: rgba(255,255,255,0.15);
}
.content {
    padding: 1.5em 4em 0;
    margin-left: 38.2%;
    width: 61.8%;
}
.content .tuning {
    position: fixed;
    bottom: 10px;
    right: 0;
    width: 70px;
    border: none;
    z-index: 100;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}
.content .tuning i {
    display: block;
    float: left;
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: rgba(0,0,0,.3);
    opacity: 0;
}
.content .tuning i:hover {
    color: #222;
}
.content .tuning .tuning-last {
    padding: 10px 0;
    font-size: 10px;
}
.content .tuning i[class^="tuning-last"]:hover {
    color: #f99295 !important;
}
#footer {
    position: relative;
    margin-top: 4em;
    margin-bottom: 3em;
    line-height: 1.3;
    font-size: 0.8em;
    text-align: center;
}
#footer .link {
    padding-left: 0.5em;
    font-size: 1em;
}
#footer .link:hover {
    color: #30aee5;
}

/* layout */
.avatar{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.49s;
    -moz-transition: all 0.49s;
    -ms-transition: all 0.49s;
    -o-transition: all 0.49s;
    transition: all 0.49s;
}
.avatar:hover{
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg); 
}
.fa-home:before {
    content: "\f015";
}
.fa-about:before {
    content: "\f05a";
}

/* archive */
.archive {
    position: relative;
    font-size: 0.9em;
    color: rgba(0,0,0,.6);
}
.archive:before {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 100px;
    width: 3px;
    content: "";
    background-color: rgba(0,0,0,.05);
}
.archive a {
    text-decoration: none;
}
.archive ul li em {
    font-size: 0.9em;
}
.archive ul li em a {
    color: rgba(0,0,0,.5);
}
.archive ul li em a:before {
    content: "ï¼Œ";
}
.archive ul li em a:first-child:before {
    content: "";
}
.archive .year {
    position: relative;
    display: inline-block;
    margin: 1em 0;
    width: 120px;
    margin:  30px 0 10px 40px;
    padding: 1px 0;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 3px;
    background-color: #fafafa;
    color: rgba(0,0,0,.44);
    text-align: center;
    font-size: 1.17em;
    font-weight: bold;
}
.archive .month {
    position: relative;
    display: block;
    margin: 1em 0;
    font-size: 1.17em;
}
.archive .month:after, .archive .month:before {
    position: absolute;
    left: 92px;
    top: 3px;
    height: 19px;
    width: 19px;
    border-radius: 100%;
    background-color: #fff;
    content: "";
}
.archive .month:after {
    background-color: #eee;
    height: 15px;
    width: 15px;
    left: 94px;
    top: 5px
}
.archive .month:hover:after {
    background-color: #4a89dc
}
.archive ul {
    margin-left: 100px;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
}
.archive ul li {
    position: relative;
    padding-left: 1.2em;
    line-height: 1.8em;
}
.archive ul li:after, .archive ul li:before {
    position: absolute;
    left: -5px;
    top: 7px;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    background-color: #fff;
    content: "";
}
.archive ul li:after {
    background-color: #eee;
    height: 9px;
    width: 9px;
    left: -3px;
    top: 9px;
}
.archive ul li:hover {
    margin-left: 5px;
}
.archive ul li:hover:after {
    background-color: #4a89dc;
}
.archive-ul-li-hover:after {
    background-color: #f99295 !important;
}
.archive ul li a span {
    padding-right: 0.8em;
}

/* post */
.post-title {
    margin-bottom: 0.2em;
    font-size: 2.5em;
    font-weight: normal;
}
.post-meta {
    margin-top: 1em;
    padding: 0;
    font-size: 0.9em;
    color: #888;
}
.post-meta li {
    display: inline-block;
    margin: 0 8px 0 0;
    padding-left: 12px;
    border-left: 1px solid #EEE;
}
.post-meta li:first-child {
    margin-left: 0;
    padding-left: 0;
    border: none;
}
.post-meta li a {
    color: #888;
}
.post-content {
    margin-top: 2.7em;
    line-height: 1.8em;
    font-size:  1em;
    color: #333;
}
.post-content p {
    margin-bottom:  3px;
}
.post-content p a {
    font-size: 0.96em;
}
.post-content img {
    max-width: 100%;
    border-radius: 3px;
}
.post-content video {
    display: none;
}
.post-contributers {
    display: none;
}
.post-near {
    margin-top: 7em;
    padding: 0;
    line-height: 1.8em;
    list-style: none;
    font-size:  0.9em;
    color: #999;
}

/* post music player */
.post-music {
    position: relative;
    margin-top: 2.5em;
    width: 100%;
}
.post-music table {
    width: 100%;
    border-collapse: collapse;
}
.post-music .title {
    width: 100%;
    line-height: 2em;
    text-align: left;
}
.post-music .title th {
    min-width: 70px;
    border-bottom: 2px solid #ccc;
    font-weight: normal;
}
.post-music .gap {
    padding-top: 2px;
}
.post-music .row {
    font-size: 14px;
}
.post-music .row:hover {
    background-color: #f7f7f7;
}
.post-music .row-bg {
    background: url('../../static/img/music_row_bg.gif') repeat;
}
.post-music .title-box {
    display: table;
}
.post-music audio {
    display: none;
}
.post-music .title-box a {
    vertical-align: middle;
    display: table-cell;
    height: 45px;
    padding-left: 0.5em;
}
.post-music .cover-frame {
    display: table-cell;
    vertical-align: middle;
    padding: 1px 0;
}
.post-music .cover {
    position: relative;
    float: left;
    height: 45px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.post-music .cover img {
    height: 100%;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 2px;
}
.post-music .cover .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.13;
    filter: alpha(opacity=13);
}
.post-music .cover .btn-bg {
    background: url(../../static/img/music_sprite.png) no-repeat 0 9999px;
}
.post-music .cover .play-bg {
    position: absolute;
    left: 9px;
    top: 10px;
    width: 26px;
    height: 26px;
    background-position: -19px -5px;
}
.post-music .cover .play-bg:hover {
    background-position: -46px -5px;
}
.post-music .cover .pause-bg {
    position: absolute;
    left: 28px;
    top: 28px;
    width: 18px;
    height: 18px;
    background-position: -1px -1px;
}
.post-music .cover .pause-bg:hover {
    background-position: -1px -19px;
}

/* about */
.post-about {
    margin-top: 3em;
    line-height: 1.8em;
    color: #333;
}
.post-about p {
    margin-bottom: 0.5em;
}
.post-about .qrcode {
    text-align: center;
}
.post-about .qrcode img{
    width: 46%;
}
.post-about-contribute {
    display: block;
    margin: 1em 0;
    padding-left: 0.8em;
    border-left: 4px solid #eee;
}

/* responsive */
@media(max-width: 768px) {
    body {
        font-size: 65%;
    }
    header {
        position: relative;
        top: 0;
        width: 100%;
    }
    header .sidebar {
        margin: 4em auto;
    }
    header .description {
        font-size: 1.5em;
    }
    header .avatar {
        margin-top: 2em;
        max-width: 8.5em;
    }
    header h1 {
        margin-top: 1em;
        padding-bottom: 1em;
    }
    header .search {
        font-size: 1.2em;
    }
    header .search i {
        top: 0.45em;
    }
    header .search input {
        width: 12em;
        padding: 0 1.35em 0 2em;
        height: 2em;
    }
    header nav a {
        font-size: 1.2em;
    }
    .content {
        margin: 0 auto;
        padding: 0.8em 1.5em 0;
        width: 100%;
    } 
    .content .tuning {
        width: 60px;
        bottom: 10px;
    }
    .content .tuning i {
        margin: 3px 0;
        font-size: 32px;
    }
    .content .tuning .tuning-last {
        font-size: 8px;
    }
    .archive .month {
        line-height: 2.3em;
        padding-left: 2em;
    }
    .archive ul li {
        line-height: 2.2em;
    }
    .archive ul li:after, .archive ul li:before {
        left: -3px;
        top: 6px;
        height: 10px;
        width: 10px;
    }
    .archive ul li:after {
        height: 8px;
        width: 8px;
        left: -2px;
        top: 7px;
    }
    .archive ul li:hover {
        margin-left: 3px;
    } 
    .post-title {
        text-align: center;
    } 
    .post-meta li, post-meta li a {
        font-size: 1em;
    }
    .post-content {
        margin-top: 1.4em;
        line-height: 1.5em;
    }
    .post-content audio {
        zoom: .7;
        width: 100%;
    }
    .post-contributers {
        display: block;
        margin-top: 2em;
        font-size: 1em;
        color: #999;
    }
    .post-contributers a {
        text-decoration: underline;
        color: #999;
    }
    .post-near {
        font-size: 1em;
    }
    .post-music .title-box a {
        height: 30px;
    }
    .post-music .row {
        font-size: 12px;
    }
    .post-music .column-other {
        display: none;
    }
    .post-music .cover {
        height: 30px;
    }
    .post-music .cover .play-bg {
        left: 2px;
        top: 2px;
    }
    .post-music .cover .pause-bg {
        left: 13px;
        top: 13px;
    }
}
