.intro .title {
    position: relative; 
    margin-top: 2em;
}
.intro .title .cate {
    display: table-cell;
    vertical-align: middle;
    height: 56px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.intro .title .cate span {
    display: inline-block;
    vertical-align: middle;
    padding: 7px 5px;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 5px;
    background-color: #f99295;
    font-size: 14px;
    color: #fff;
}
.intro .title h1 {
    position: absolute;
    top: 0;
    left: 50px;
    margin: 0;
    font-size: 40px;
    font-weight: normal;
    width: 93%;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;          
    overflow: hidden;
    white-space: nowrap;
}
.intro p {
    margin: 0;
    line-height: 32px;
    color: #888;
    font-size: 14px;
}
.intro p span {
    color: #222;
}
.chart {
    margin-top: 35px;
    height: 300px;
}

/* responsive */
@media(max-width: 768px) {
    .intro .title .cate {
        height: 46px;
    }
    .intro .title .cate span {
        padding: 7px 5px;
        border-bottom-left-radius: 1px;
        border-top-left-radius: 5px;
        font-size: 12px;
    }
    .intro .title h1 {
        left: 45px;
        font-size: 30px;
    }
    .chart {
        margin-top: 25px;
    }
}
