.mejs-offscreen {
    /* Accessibility: hide screen reader texts (and prefer "top" for RTL languages). */
    position: absolute !important;
    top: -10000px;
    left: -10000px;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

.mejs-container {
    position: relative;
    font-family: Helvetica, Arial;
    text-align: left;
    vertical-align: top;
    text-indent: 0;
}

.mejs-container:focus { 
    outline: none; 
}

.mejs-clear {
    clear: both;
}

/* Start: LAYERS */
.mejs-mediaelement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mejs-poster {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain ;
    background-position: 50% 50% ;
    background-repeat: no-repeat ;
}
:root .mejs-poster img {
    display: none ;
}

.mejs-poster img {
    border: 0;
    padding: 0;
}

/* End: LAYERS */

/* Start: CONTROL BAR */
.mejs-container .mejs-controls {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    background: #999;
    background: rgba(120, 120, 120, 0.6);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 30px;
    width: 100%;
}
.mejs-container .mejs-controls  div {
    list-style-type: none;
    background-image: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    font-size: 11px;
    line-height: 11px;
    font-family: Helvetica, Arial;
    border: 0;
}

.mejs-controls .mejs-button button {
    cursor: pointer;
    display: block;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
    margin: 7px 5px;
    padding: 0;
    position: absolute;
    height: 16px;
    width: 16px;
    border: 0;
    background: transparent url(/static/module/mediaelement/controls.svg) no-repeat;
}

.no-svg .mejs-controls .mejs-button button {
    background-image: url(/static/module/mediaelement/controls.png);
}
/* End: CONTROL BAR */

/* Start: Time (Current / Duration) */
.mejs-container .mejs-controls .mejs-time {
    color: #fff;
    display: block;
    height: 17px;
    width: auto;
    padding: 10px 3px 0 3px ;
    overflow: hidden;
    text-align: center;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.mejs-container .mejs-controls .mejs-time a {
    color: #fff;
    font-size: 11px;
    line-height: 12px;
    display: block;
    float: left;
    margin: 1px 2px 0 0;
    width: auto;
}
/* End: Time (Current / Duration) */

/* Start: Play/Pause/Stop */
.mejs-controls .mejs-play button {
    background-position: 0 0;
}

.mejs-controls .mejs-pause button {
    background-position: 0 -16px;
}

.mejs-controls .mejs-stop button {
    background-position: -112px 0;
}
/* Start: Play/Pause/Stop */

/* Start: Progress Bar */
.mejs-controls div.mejs-time-rail {
    direction: ltr;
    width: 200px;
    padding-top: 5px;
}

.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-time-rail a {
    display: block;
    position: absolute;
    width: 180px;
    height: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
    margin: 5px;
    background: #999;
    background: rgba(130, 130, 130, 0.2);
}

.mejs-controls .mejs-time-rail .mejs-time-buffering {
    width: 100%;
    -webkit-background-size: 15px 15px;
    -moz-background-size: 15px 15px;
    -o-background-size: 15px 15px;
    background-size: 15px 15px;
    -webkit-animation: buffering-stripes 2s linear infinite;
    -moz-animation: buffering-stripes 2s linear infinite;
    -ms-animation: buffering-stripes 2s linear infinite;
    -o-animation: buffering-stripes 2s linear infinite;
    animation: buffering-stripes 2s linear infinite;
}

@-webkit-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@-moz-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@-ms-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@-o-keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }
@keyframes buffering-stripes { from {background-position: 0 0;} to {background-position: 30px 0;} }

.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #666;
    background: rgba(120, 120, 120, 0.5);
    width: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    background: #fff;
    background: rgba(255,255,255,0.8);
    width: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-handle {
    display: none;
    position: absolute;
    margin: 0;
    width: 10px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 2px #333;
    top: -2px;
    text-align: center;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
    position: absolute;
    display: none;
    background: #fff;
    width: 53px;
    height: 17px;
    top: -27px;
    margin-left: -26px;
    text-align: center;
    color: #333;
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
    margin: 2px;
    width: 48px;
    display: block;
    text-align: center;
    left: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-float-corner {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    border: solid 5px #fff;
    border-color: #fff transparent transparent transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top: 15px;
    left: 20px;
}
/* End: Progress Bar */

/* Start: Mute/Volume */
.mejs-controls .mejs-volume-button {
}

.mejs-controls .mejs-mute button {
    background-position: -16px -16px;
}

.mejs-controls .mejs-unmute button {
    background-position: -16px 0;
}

.mejs-controls .mejs-volume-button {
    position: relative;
}

/* horizontal version */
.mejs-controls a.mejs-horizontal-volume-slider {
    height: 26px;
    width: 56px;
    position: relative;
    display: block;
    float: left;
    vertical-align: middle;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    position: absolute;
    left: 0;
    top: 11px;
    width: 50px;
    height: 8px;
    margin: 0;
    padding: 0;
    font-size: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #999;
    background: rgba(130, 130, 130, 0.2);
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    position: absolute;
    left: 0;
    top: 11px;
    width: 50px;
    height: 8px;
    margin: 0;
    padding: 0;
    font-size: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    background: rgba(255,255,255,0.8);
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
    display: none;
}
/* End: Mute/Volume */

/* Start: Error */
.me-cannotplay {
    display: none;
}
/*
.me-cannotplay {
    width: 100% !important;
}

.me-cannotplay a {
    padding-top: 6px;
    padding-left: 10px;
    color: #fff;
    background: #999;
    background: rgba(120, 120, 120, 0.6);
    font-weight: bold;
    display: block;
}
.me-cannotplay span {
}
*/
/* End: Error */
