.intro .title {
    position: relative; 
}
.intro .title .cate {
    display: table-cell;
    vertical-align: middle;
    height: 56px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.intro .title .cate span {
    display: inline-block;
    vertical-align: middle;
    padding: 7px 5px;
    border-bottom-left-radius: 1px;
    border-top-left-radius: 5px;
    background-color: #f99295;
    font-size: 14px;
    color: #fff;
}
.intro .title h1 {
    position: absolute;
    top: 0;
    left: 50px;
    line-height: 0;
    font-size: 40px;
    font-weight: normal;
}
.intro p {
    margin: 0;
    line-height: 32px;
    color: #888;
    font-size: 14px;
}
.intro p span {
    color: #222;
}
.chart {
    margin-top: 35px;
    height: 300px;
}
.programs {
    position: relative;
    width: 100%;
    margin-top: 2.6em;
    border-collapse: collapse;
    zoom: 1;
}
.programs .title {
    width: 100%;
    line-height: 2em;
    text-align: left;
}
.programs .title th {
    border-bottom: 2px solid #ccc;
    font-weight: normal;
}
.programs .row {
    padding: 1px;
    font-size: 0.9em;
}
.programs .row:hover {
    background-color: #f7f7f7;
}
.programs .row td {
    height: 2em;
}
